#include "ResVOPM.h"
IDI_BG PNG bmp00100.png
IDI_ABOUT PNG bmp00101.png
IDI_SLIDERBG PNG bmp00102.png
IDI_KNOB PNG bmp00103.png
IDI_BTN PNG bmp00104.png
IDI_CON PNG bmp00105.png
IDI_HDSW PNG bmp00106.png
